{% load static %}
{% load index %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Student union website" />
        <meta name="author" content="Alaref Abushaala" />
        <title>صفحة إتحاد الطلبة الرسمي</title>
        <!-- <link rel="stylesheet" href="style.css">  -->
        <link href="{% static 'student_app/style.css'%}" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo" >
                    <img src="{% static 'student_app/cetlog.png' %}" alt="student union logo">
                </div>
                <ul class="nav-link" >
                    <li>
                        <a href="#">الرئيسية</a>
                    </li>
                    <li>
                        <a href="{% url 'student_app:contact' %}">التواصل</a>
                    </li>
                    <li>
                        <a href="#">من نحن</a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>

            <div class="back">
                <h1>Student Union</h1>
            </div>
        </header>

        <p class="intro" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos harum delectus modi incidunt debitis unde perferendis tempore voluptate. Cum, nam.</p>


        {% for feed in feeds %}
            <div class="post" >
                <h3>{{feed.description}}</h3>
            </div>
        {% endfor %}
        
        </div>
        <script src="app.js" ></script>
        {% endblock content %}

        <footer>
            <div class="footer-content">
                <h2>Student Union</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos inventore magni, repudiandae at est fugiat rem placeat porro provident iure?</p>
                <ul class="social">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
                <p>ALL RIGHTS RESERVED</p>
            </div>
        </footer>

    </body>
</html>

